#rc-post-wrap{
    margin: 16px 0;
}
.rc-datetime-wrap{
    display: none;
    margin: 10px 0;
    height: 21px;
}
.rc-datetime-wrap select{
    line-height: 14px;
    padding: 0;
    vertical-align: top;
    font-size: 12px;
}
.rc-datetime-wrap input{
    border-width: 1px;
    border-style: solid;
}
.rc-datetime{
    display: inline-block;
}
