#rc-post-wrap{
    margin: 16px 0;
}
.rc-datetime-wrap{
    display: none;
    margin: 10px 0;
    line-height: 28px;
}
.rc-datetime-wrap select{
    line-height: 14px;
    padding: 0;
    vertical-align: top;
    font-size: 12px;
}
.rc-datetime-wrap input{
    border-width: 1px;
    border-style: solid;
}
.rc-datetime{
    display: inline-block;
}

.rc_feature_image {
    max-width: 100%;
    width: 50%;
    height: auto;
}
.rc_remove_feature_image {
    display: none;
}
.rc-feature-image-preview img {
    max-width: 100%;
    width: 50%;
    height: auto;
}

#rc-rollback-container {
    margin: 16px 0;
    padding-top: 8px;
    border-top: 1px solid #eee;
}
.rc-rollback-datetime-wrap {
    display: none;
    margin: 10px 0;
    line-height: 28px;
}
.rc-rollback-datetime-wrap select {
    line-height: 14px;
    padding: 0;
    vertical-align: top;
    font-size: 12px;
}
.rc-rollback-datetime-wrap input {
    border-width: 1px;
    border-style: solid;
}
.rc-rollback-datetime {
    display: inline-block;
}

.rc-donation {
    float: left;
    clear: both;
    background-color: #faf096;
    border: 1px solid #faa824;
    border-radius: 3px;
    padding: 0 12px;
    color: #212121;
}
